    <div class=member-add><%=link_to('メンバーを追加','/member/add')%></div>
   <div class="container"> 
      <% @employees.each do |employee| %>
    <div class='member'>
      写真イメージ
      <%=link_to(employee.name,"/member/#{employee.id}")%>
    </div>
  <% end %>

</div>
